@model IEnumerable<WEB_QUIZ_MVC.Models.QuizClass>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2>MVC ONLINE QUIZ APP</h2>
<hr />
<div style="background-image: url('../../Content/image/quiz1.jpg');background-size:cover;">
    @foreach (var item in Model)
    {
        <br />
        <br />
        <br />
        <br />
        <table class="table">
            <tr>
                <td style="        background-color: #fcd27e;">
                    @Html.DisplayFor(modelItem => item.QId)
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" id="Option1" name="@item.QId" class="radiob" value="@item.Option1" />@item.Option1 <br />
                    <input type="radio" id="Option2" name="@item.QId" class="radiob" value="@item.Option2" />@item.Option2 <br />
                    <input type="radio" id="Option3" name="@item.QId" class="radiob" value="@item.Option3" />@item.Option3 <br />
                    <input type="radio" id="Option4" name="@item.QId" class="radiob" value="@item.Option4" />@item.Option4 <br />
                    <label id="lab1" name="@item.QId" class="radiob" style="display:none; color:blue;">Correct Answer : @item.Correctans</label>
                </td>
            </tr>
        </table>
    }
    <button style=" background-color: #f5da42;border-radius: 30%;
        width: 100px;" type="button" id="but1" onclick="displayResults();">Submit</button>

    <hr />
    <label id="labresult"></label>
</div>
<script>
    $(document).ready(function ()
    {
        $("#but1").click(function ()
        {
            $(".radiob").show();
            $(".radiob").attr("disabled", true);
        });
    });
    function displayResults()
    {
        document.getElementById("labresult").innerHTML = "";
        var e = document.getElementsByTagName('input');
        for (i = 0; i < e.length; i++)
        {
            if (e[i].type == "radio")
            {
                if (e[i].checked)
                {
                    document.getElementById("labresult").innerHTML += "Q" + e[i].name + ")" + "You selected answer is:" + e[i].value + "<br/>";
                }
            }
        }
    }
</script>
